<h1>Listing all students no Feedbacks</h1>
<div class="row">
  <div class="span6 offset3">

<% @users.each do |user| %>
<br />
<br />
    <% if user.feedbacks.size == 0 %>
    <h3>username</h3>
    <p><%= user.name %></p>
    <h3>studentId</h3>
    <p><%= user.studentId %></p>

    <% end %>
    <br />
<br />
<% end %>
<br />
</div>
  </div>
<%= link_to 'postFeedback', feedbackCreate_path %>
