<h1>all courses</h1>
<% @courses.each do |course| %>
<br />
<br />
    <h4>course name</h4>
    <p><%= course.name %></p>
    <h4>include subjects</h4>
    <% course.subjects.each do |subject| %>
    <p><%= subject.name %></p> 
    <%= link_to "delete", deleteSubject_path(:subject => subject, :course => course), method: :post,
                       data: { confirm: "You sure?" },
                       title: course %>
  <% end %>

    <br />

<% end %>
<br />

<%= link_to 'postFeedback', feedbackCreate_path %>
